<div class="new-gossip"><%= link_to "CREATE NEW GOSSIP", new_gossip_path , class: "nav-link new-gossip" %></div>

<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-success">
    <div class="notice"><strong><%= flash[:notice] %></strong></div>
    <div>Thanks</div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>





<div class="container">
  <span class ="sound">  <%= image_tag "sound.png" %> </span>

  <div class="row">
    <div class="col-6-m-auto">
      <% @gossips.each do |gossip| %>
    <a class="text-muted" href="<%= gossip_path(gossip.id) %>">
      <h5 class="pr-4 display-4"> <%= gossip.user.first_name %> </h5>
        </a>
      <h1 class="mb-5"> <%= gossip.title %> </h1>
      <!-- <p><%= link_to "EDIT THE GOSSIP", edit_gossip_path(gossip.id) %></P> -->

    <% end %>
    </div>
    <div class="col-6"><%= image_tag("bg-red.png", :alt => "fond de couleur", class: "") %></div>
  </div>
</div>
