
  <%# <%= "Please input correct fields" %>
  <div class="card">
    <ul class="list-group-item list-group-flush">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <li class="list-group-item">
        <%= label_tag 'Firstname' %>
      <%= text_field_tag 'first_name', @first_name, class: 'form-control' %>
    </li>
    <li class="list-group-item">
      <%= label_tag 'Lastname' %>
        <%= text_field_tag 'last_name', @last_name, class: 'form-control' %>
          </li>
              <li class="list-group-item">
            <%= label_tag 'Age' %>
          <%= text_field_tag 'age', @age, class: 'form-control' %>
        </li>
        <li class="list-group-item">
      <%= label_tag 'Description' %>
    <%= text_area_tag 'description', @description, class: 'form-control' %>
  </li>
  <li class="list-group-item">
<%= label_tag 'Email' %>
<%= text_field_tag 'email', @email, class: 'form-control' %>
</li>
  <li class="list-group-item">
    <%= label_tag 'Choose your password' %>
      <%= text_field_tag 'password', @password, class: 'form-control', type: "password" %>
        </li>
    <li class="list-group-item">
      <%= submit_tag "Save", class: 'btn' %>
      </li>
      <% end %>
    </ul>
  </div>
