

<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <h5 class="display-4 city"><%= @user.first_name %> <%= @user.last_name %></h5>
    <h5 class="display-4 city pb-5">Author</h5>
  </div>
</div>
</br>

<div class="card mb-5">
  <ul class="list-group-item list-group-flush">
    <li class="list-group-item"><b class="sub-infos">Email - </b><%= @user.email %></li>
      <li class="list-group-item"><b class="sub-infos">City - </b><%= link_to "#{@user.city.name}", city_path(@user.city.id) %></li>
       <li class="list-group-item"><b class="sub-infos">Age - </b><%= @user.age %></li>
      <li class="list-group-item"><p class ="content-gossip"><%= @user.description %></p></li>
   </ul>
 </div>
</div>
