


<h5 class="mt-5">
  <%= link_to "#{@gossips.user.first_name} #{@gossips.user.last_name}", author_path(@gossips.user.id) %>
</h5>
<p class="title-gossip pt-5"> <%= @gossips.title %> </p>
  <p class ="content-gossip"> <%= @gossips.content %> </p>


<div class="row ">

<div class= "col-12">
  <div class="d-flex justify-content-between">
    <p class="sub-infos"><b>City -</b> <%= link_to "#{@gossips.user.city.name}", city_path(@gossips.user.city.id) %></p> <p><%= @gossips.created_at.strftime("%d-%m-%Y") %></p>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <p><%= link_to "EDIT", edit_gossip_path %></P>
      <a href=" <%= gossip_path(@gossips.id) %> " data-confirm="êtes-vous sûr ?" data-method="DELETE"> DELETE </a>
    </div>
  </div>
</div>

</div>
