
<% if current_user %>
<% g = @gossip %>

<h5 class="mt-2">
  <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", author_path(@gossip.user.id) %>
</h5>
<p class="title-gossip pt-3"> <%= @gossip.title %> </p>
  <p class ="content-gossip"> <%= @gossip.content %> </p>
  <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <a class="font-weight-light text-danger small" href="<%=gossip_like_path(g.id, pre_like)%> " data-method="DELETE">Unlike</a>
  <% else %>
    <a class="font-weight-light text-success small" href="<%=gossip_likes_path(g.id)%> " data-method="POST">Like</a>
  <% end %>

  <p class="small text-muted"><%= g.likes.count %> like(s)</p>

<hr>
<div class="row ">
  <div class="col-12">
    <div class="d-flex py-2">
      <%= button_to "Commenter le gossip", new_gossip_comment_path(@gossip), class: "btn", method: "get"   %>
    </div>
  </div>
<div class= "col-12 mt-3">
  <div class="d-flex justify-content-between">
    <p class="sub-infos"><b>City -</b> <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id) %></p> <p><%= @gossip.created_at.strftime("%d-%m-%Y") %></p>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <p><%= link_to "EDIT", edit_gossip_path %></p>
      <a href=" <%= gossip_path(@gossip.id) %> " data-confirm="êtes-vous sûr ?" data-method="DELETE"> DELETE </a>
    </div>
  </div>
</div>
<hr>
  <br />
    <div class="row border-box mb-5">
          <div class="d-flex">
            <ul class="card list-group-item list-group-flush">
              <% @comment.each do |comment| %>

              <li class="lis-group-item">
                <%= comment.content %>
                <p><%= link_to "EDIT", edit_gossip_comment_path(@gossip.id,comment.id) %></p>

                <%= link_to 'Delete Comment',
                                        gossip_comment_path(@gossip, @comment),
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %>
                  </li>
                    <li>
                      <%= link_to "#{comment.user[:first_name]}", author_path(comment.user[:id]) %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>


    <% else %>

    <h5 class="mt-2">
      <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", author_path(@gossip.user.id) %>
    </h5>
    <p class="title-gossip pt-3"> <%= @gossip.title %> </p>
      <p class ="content-gossip"> <%= @gossip.content %> </p>

    <hr>
    <div class="row ">

    <div class= "col-12 mt-3">
      <div class="d-flex justify-content-between">
        <p class="sub-infos"><b>City -</b> <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id) %></p> <p><%= @gossip.created_at.strftime("%d-%m-%Y") %></p>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-between">

        </div>
      </div>
    </div>
    <hr>
      <br />
        <div class="row border-box mb-5">
              <div class="d-flex">
                <ul class="card list-group-item list-group-flush">
                  <% @comment.each do |comment| %>

                  <li class="lis-group-item">
                    <%= comment.content %>

                      </li>
                        <li>
                          <%= link_to "#{comment.user[:first_name]}", author_path(comment.user[:id]) %>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
<% end %>
